@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #b1b1b1;
  --secondary: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #616161;
    --secondary: #111111;
  }
}