@import "tailwindcss";

:root {
  --primary: #ffffff;
  --secondary: #f6f6f6;
  --tertiary: #b1b1b1;
  --text-on-primary: #000000;
  --text-on-secondary: #000000;
  --text-on-tertiary: #000000;
  --primary-accent: #5ff06b;
  --secondary-accent: #f0e65f;
  --tertiary-accent: #65c1eb;
  font-family: "Poiret One", serif;
  font-weight: 600;
  letter-spacing: 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #111111;
    --secondary: #202020;
    --tertiary: #616161;
    --text-on-primary: #f6f6f6;
    --text-on-secondary: #f6f6f6;
    --text-on-tertiary: #f6f6f6;
    --primary-accent: #af5ff0;
    --secondary-accent: #5f9ef0;
    --tertiary-accent: #ebb665;
  }
}

/*outline outline-gray-400 outline-1 drop-shadow-md rounded-2xl bg-white p-2*/
.floater {
  outline-style: solid;
  outline-color: var(--tertiary);
  outline-width: 1px;
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  border-radius: 1rem;
  background: var(--secondary);
  padding: 0.5rem;
  color: var(--text-on-secondary);
}

.dotted-background {
  background: radial-gradient(var(--tertiary) 1px, var(--primary) 1px);
  background-size: 32px 32px;
  background-position: center;
}

.background-primary {
  background: var(--primary);
}

.background-secondary {
  background: var(--secondary);
}

.background-tertiary {
  background: var(--tertiary);
}

.text-on-primary {
  color: var(--text-on-primary);
}

.text-on-secondary {
  color: var(--text-on-secondary);
}

.text-on-tertiary {
  color: var(--text-on-tertiary);
}

h1 {
  font-family: "Poiret One", serif;
  font-size: x-large;
  font-weight: 900;
  font-style: normal;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 32px !important; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Poiret One";
  src:
    local("Poiret One"),
    url(./assets/PoiretOne-Regular.ttf) format("truetype");
}

.poiret-one-regular {
  font-family: "Poiret One", serif;
  font-size: x-large;
  font-weight: 900;
  font-style: normal;
}
